# AWS Config
AWS_DEFAULT_ACCOUNT=<your_aws_account_id>
AWS_DEFAULT_REGION=<your_aws_best_region>
AWS_ADMIN_USER=<change_me>
AWS_BUCKET=<your_s3_bucket_name>

# EKS Config
CLUSTER_NAME=eks_llm

# VLLM Config
VLLM_URL=